
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Tarjeta Informativa
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                Persona: @TempData["PersonaTemp"]
                <hr />
                Dirección:@TempData["DireccionTemp"]    

            </div>
        </div>

    </div>
</div>